<div class="fixed-top">
  <!-- Primera fila del navbar -->
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon mb-0">
    <div class="container-fluid">
      <div class="cat1 d-flex align-items-center">
        <%= link_to root_path, class: "navbar-brand me-1" do %>
          <%= image_tag("Logo-PPA.png", alt: "Logo PPA", class: "navbar-logo") %>
        <% end %>

        <div class="cat2 d-none d-lg-flex mx-3">
          <%= form_with url: products_path, method: :get, local: true, class: "form-inline my-2 my-lg-0" do |form| %>
            <div class="input-group">
              <%= form.text_field :query, value: params[:query], class: "form-control custom-width", placeholder: "Buscar productos", style: "border-radius: 10px 0 0 10px; flex: 1 1 auto; width: 337px;" %>
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary" style="border-radius: 0 10px 10px 0;">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          <% end %>
        </div>

        <%= link_to root_path, class: "navbar-brand ms-1" do %>
          <%= image_tag("sicher-logo.png", alt: "Logo PPA", class: "navbar-logo") %>
        <% end %>
      </div>

      <div class="cat3">
        <ul class="navbar-nav ms-auto", style="font-size: 1.25rem;">
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link" do %>
              <i class="fa-solid fa-list-ul fa-lg"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "https://wa.me/+542615041558", class: "nav-link" do %>
            <%# !!!!!!!! CAMBIAR REEMPLAZAR NUMERO DE whatsapp REAL %>
              <i class="fab fa-whatsapp fa-lg"></i>
            <% end %>
          </li>
          <li class="nav-item position-relative">
            <%= link_to cart_path, class: "nav-link position-relative" do %>
              <i class="fas fa-shopping-cart fa-lg"></i>
              <% if @cart_items_count > 0 %>
                <span class="position-absolute top-8 start-95 translate-middle badge rounded-pill bg-danger">
                  <%= @cart_items_count %>
                  <span class="visually-hidden">cart items</span>
                </span>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item d-lg-none">
            <button class="btn btn-primary nav-link nav-link-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
              <i class="fa-solid fa-bars fa-lg"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Segunda fila del navbar -->
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon mt-0 pt-0" style="border-bottom: 1px solid #dee2e6;">
    <div class="container-fluid justify-content-center">
      <div class="cat4 d-none d-lg-flex w-100 justify-content-center">
        <ul class="navbar-nav justify-content-between w-50" style="font-size: 1.4rem;">
          <li class="nav-item">
            <%= link_to "Nosotros", about_path, class: "nav-link" %>
          </li>


<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="storeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Tienda
  </a>
  <ul class="dropdown-menu" aria-labelledby="storeDropdown">
    <li><%= link_to "Todos", products_path, class: "dropdown-item", style: "font-size: 1.4rem;" %></li>
    <li class="dropdown dropend">
      <a class="dropdown-item dropdown-toggle" href="#" id="automatismosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 1.4rem;">
        Automatismos
      </a>
      <ul class="dropdown-menu px-3" aria-labelledby="automatismosDropdown" >
        <li><%= link_to "Corredizos", products_path(query: "Corredizo"), class: "dropdown-item", style: "font-size: 1.4rem;" %></li>
        <li><%= link_to "Basculantes", products_path(query: "Basculante"), class: "dropdown-item", style: "font-size: 1.4rem;" %></li>
        <li><%= link_to "Pivotantes", products_path(query: "Pivotante"), class: "dropdown-item", style: "font-size: 1.4rem;" %></li>

      </ul>
    </li>
  </ul>
</li>



          <li class="nav-item">
            <%= link_to "Promociones", promotions_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contacto", root_path(anchor: 'contacto'), class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
