<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mb-0">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("Logo-PPA.png", alt: "Logo PPA", id: "navbar-logo") %>
    <% end %>

    <%= form_with url: products_path, method: :get, local: true, class: "form-inline my-2 my-lg-0 ms-5" do |form| %>
      <div class="input-group">
        <%= form.text_field :query, value: params[:query], class: "form-control", placeholder: "Buscar productos", style: "border-radius: 30px 0 0 30px;" %>
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-primary" style="border-radius: 0 30px 30px 0;">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    <% end %>

    <%= link_to root_path, class: "navbar-brand ms-5" do %>
      <%= image_tag("sicher-logo.png", alt: "Logo PPA", id: "navbar-logo") %>
    <% end %>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fas fa-home fa-lg"></i> <!-- Icono de home más grande (lg) -->
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "https://wa.me/tunumero", class: "nav-link" do %>
          <i class="fab fa-whatsapp fa-lg"></i> <!-- Icono de WhatsApp más grande (lg) -->
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "nav-link" do %>
          <i class="fas fa-shopping-cart fa-lg"></i> <!-- Icono de carrito de compras más grande (lg) -->
        <% end %>
      </li>
    </ul>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mt-0 pt-0" style="border-bottom: 1px solid #dee2e6;">
  <div class="container-fluid justify-content-center">
    <ul class="navbar-nav justify-content-between w-50">
      <li class="nav-item">
        <%= link_to "Nosotros", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Tienda", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Promociones", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contacto", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
