<div class="container">
  <h2>Realizar Pedido</h2>

  <%= form_with(model: @order, url: orders_path, local: true) do |form| %>
    <%= form.hidden_field :total, value: calculate_order_total(@cart) %>

    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> impidieron que se guarde el pedido:</h2>
        <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Tabla de productos -->
    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <% @cart.each do |product_id, item_details| %>
          <% product = Product.find_by(id: product_id) %>
          <% if product %>
            <tr>
              <td><%= product.name %></td>
              <td><%= item_details["quantity"] %></td>
              <td>$ <%= number_with_delimiter(product.on_sale? ? product.promotional_price : product.price) %></td>
              <td>$ <%= number_with_delimiter(item_details["quantity"].to_i * (product.on_sale? ? product.promotional_price : product.price)) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">Total del Carrito:</th>
          <td><strong>$ <%= number_with_delimiter(@cart.sum do |product_id, item_details|
            product = Product.find_by(id: product_id)
            item_details["quantity"].to_i * (product.on_sale? ? product.promotional_price : product.price)
          end) %></strong></td>
        </tr>
      </tfoot>
    </table>
    <p>* Disponibles para retiro.</p>
    <%= form.submit 'Confirmar Pedido', class: 'btn btn-primary text-white rounded-5' %>
  <% end %>
  <%= link_to "Solicitar Asesoramiento Técnico", root_path(anchor: 'contacto'), class: "btn btn-primary rounded-5 text-black btn-custom mt-3" %>
</div>

<!-- Modal Bootstrap -->
<div class="modal fade" id="legalesModal" tabindex="-1" aria-labelledby="legalesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content rounded-5">
      <div class="modal-header bg-primary text-white" style="border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;">
        <h5 class="modal-title" id="legalesModalLabel">Términos y Condiciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <%= render "pages/legales" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary text-white rounded-5" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Script para mostrar el modal automáticamente -->
<script>
  document.addEventListener("turbo:load", function() {
    var legalesModal = new bootstrap.Modal(document.getElementById('legalesModal'));
    legalesModal.show();
  });

  // Fallback si no se usa Turbo
  document.addEventListener("DOMContentLoaded", function() {
    if (!window.Turbo) {
      var legalesModal = new bootstrap.Modal(document.getElementById('legalesModal'));
      legalesModal.show();
    }
  });
</script>
