<div class="container">
  <h2>Realizar Pedido</h2>

  <%= form_with(model: @order, url: orders_path) do |form| %>
    <%= form.hidden_field :total, value: calculate_order_total(current_user.cart.cart_items) %>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.cart.cart_items.each do |item| %>
          <tr>
            <td><%= item.product.name %></td>
            <td><%= item.quantity %></td>
            <td><%= number_to_currency(item.product.price) %></td>
            <td><%= number_to_currency(item.quantity * item.product.price) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">Total del Carrito:</th>
          <td><strong><%= number_to_currency(calculate_order_total(current_user.cart.cart_items)) %></strong></td>
        </tr>
      </tfoot>
    </table>
    <p>* Disponibles para retiro.</p>
    <%= form.submit 'Confirmar Pedido', class: 'btn btn-primary' %>
  <% end %>

</div>
