<div class="container">
  <div class="row mt-5">
    <div class="col-md-6">
      <h2 class="mb-5">Detalles del Pedido</h2>

      <p><strong>ID del Pedido:</strong> <%= @order.id %></p>
      <p><strong>Total del Pedido:</strong> $ <%= number_with_delimiter(@order.total) %></p>
      <p><strong>Fecha de Creación:</strong> <%= @order.created_at.strftime('%d de %B de %Y') %></p>
    </div>

    <div class="col-md-6 text-center d-flex align-items-center justify-content-center">
      <div>
        <h3>Método de Pago</h3>
        <%= image_tag "QR.png", alt: "Paga con Mercado Pago", class: "img-fluid", style: "max-width: 300px;" %>
        <p>Escanea este código para realizar tu pago con Mercado Pago.</p>
        <!-- CAMBIAR POR QR REAL!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
      </div>
    </div>
  </div>

  <h3>Productos en el Pedido:</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td>$ <%= number_with_delimiter(item.price) %></td>
          <td>$ <%= number_with_delimiter(item.quantity * item.price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Volver al catálogo', products_path, class: 'btn btn-primary' %>
</div>
