<!-- app/views/home.html.erb -->
<div id="carouselExampleIndicators" class="carousel slide mt-1 p-5 bg-dark" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 600px;">
      <img src="<%= asset_path('banner1.jpg') %>" class="d-block w-100" alt="Slide 1" style="object-fit: fill; height: 100vh;">
    </div>
    <div class="carousel-item" style="height: 600px;">
      <img src="<%= asset_path('banner2.png') %>" class="d-block w-100" alt="Slide 2" style="object-fit: cover; height: 100vh;">
    </div>
    <div class="carousel-item" style="height: 600px;">
      <img src="<%= asset_path('banner3.png') %>" class="d-block w-100" alt="Slide 3" style="object-fit: cover; height: 100vh;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-5 text-center">
  <h2 class="mt-5 mb-4">Tenemos las mejores promociones del Mercado</h2>

  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
    <% @promoted_products.each do |product| %>
      <%= render partial: 'products/product_card', locals: { product: product } %>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to "Ver más promociones", promotions_path, class: "btn btn-primary text-white btn-custom " %>
  </div>
</div>

<div class="">
  <img src="<%= asset_path('PPAmarcasHome.png') %>" class="d-block w-100" alt="Slide 1" style="object-fit: scale-down;">
</div>
