<!-- app/views/home.html.erb -->
<div id="carouselExampleIndicators" class="carousel slide mt-1 p-5 bg-dark" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 600px;">
      <img src="<%= asset_path('banner1.jpg') %>" class="d-block w-100" alt="Slide 1" style="object-fit: fill; height: 100vh;">
    </div>
    <div class="carousel-item" style="height: 600px;">
      <img src="<%= asset_path('banner2.png') %>" class="d-block w-100" alt="Slide 2" style="object-fit: cover; height: 100vh;">
    </div>
    <div class="carousel-item" style="height: 600px;">
      <img src="<%= asset_path('banner3.png') %>" class="d-block w-100" alt="Slide 3" style="object-fit: cover; height: 100vh;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- PROMOCIONES -->

<div class="container mt-5 text-center">
  <h2 class="mt-5 mb-4">Tenemos las mejores promociones del Mercado</h2>

  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
    <% @promoted_products.each do |product| %>
      <%= render partial: 'products/product_card', locals: { product: product } %>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to "Ver más promociones", promotions_path, class: "btn btn-primary text-white btn-custom " %>
  </div>
</div>

<!-- LOGOS DE MARCA -->

<div class="my-5">
  <img src="<%= asset_path('PPAmarcasHome.png') %>" class="d-block w-100" alt="Slide 1" style="object-fit: scale-down;">
</div>


<!-- FORMULARIO DE CONTACTO -->
<div id="contacto" class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2>Contacto</h2>
      <h4 class="mb-4">¿Tenés una consulta? Escribinos.</h4>
      <%= form_with url: contact_path, local: true, html: { multipart: true } do |form| %>
        <div class="form-group">
          <%= form.label :name, 'Nombre y Apellido' %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :email, 'Correo Electrónico' %>
          <%= form.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :phone, 'Número de Teléfono' %>
          <%= form.text_field :phone, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :message, 'Mensaje' %>
          <%= form.text_area :message, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :attachment, 'Adjuntar Archivo (opcional)' %>
          <%= form.file_field :attachment, class: 'form-control' %>
        </div>
        <div class="form-group mt-3">
          <%= form.submit 'Enviar', class: 'btn btn-primary btn-lg btn-custom w-100 mb-5' %>
        </div>
      <% end %>
    </div>

       <div class="col-md-4 mx-auto my-auto">
      <div class="card bg-light">
        <div class="card-body text-center">
          <h5 class="card-title">Casa central:</h5>
          <p class="card-text">
            Rambla República de México 5863<br>
            Montevideo
          </p>
          <h5 class="card-title mt-3">Sucursal Maldonado:</h5>
          <p class="card-text">
            Calle Av. España, Parada 26
          </p>
          <p class="card-text">
            Lun - Vie 9:00 - 18:00<br>
            Sábados 9:00 - 13:00
          </p>
          <p class="card-text">
            0800 8000
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 mx-2 mb-1">
  <div id="map"></div>
</div>

<script async
  src="https://maps.googleapis.com/maps/api/js?key=<%= @google_api_key %>&callback=initMap">
  // !!!!!!!!!!REEMPLAZAR POR API KEY DEL DUEÑO!!!!!!!!!!!!!
</script>

<script>
  function initMap() {
    var location = {lat: -34.8978457839486, lng: -56.069537488069656};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: location
    });
    var marker = new google.maps.Marker({
      position: location,
      map: map
    });
  }
</script>

<style>
  #map {
    height: 400px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
</style>
