<div class="container">
  <h2>Carrito de Compras</h2>

  <% if @cart_notice.any? %>
    <div class="alert alert-warning">
      <ul class="mb-0">
        <% @cart_notice.each do |notice| %>
          <li><%= notice %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @cart_items.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Imagen</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |item| %>
          <tr>
            <td><%= item.product.name %></td>
            <td>
              <% if item.product.photos.attached? %>
                <%= cl_image_tag(item.product.photos.first.key, height: 100, width: 100, class: "rounded-3", crop: :fill, alt: item.product.name) %>
              <% end %>
            </td>
            <td><%= item.quantity %></td>
            <td><%= number_to_currency(item.price) %></td>
            <td><%= number_to_currency(item.quantity * item.price) %></td>
            <td>
              <%= link_to cart_item_path(item.product.id), method: :delete, data: { confirm: '¿Eliminar este artículo?' }, class: 'btn text-danger' do %>
                <i class="fa fa-trash fa-lg"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">Total del Carrito:</th>
          <td><strong><%= number_to_currency(@cart_items.sum { |item| item.quantity * item.price }) %></strong></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <%= link_to 'Realizar Pedido', new_order_path, class: 'btn btn-custom btn-primary' %>
  <% else %>
    <p>No hay productos en tu carrito.</p>
  <% end %>

  <%= link_to 'Volver al catálogo', products_path, class: 'btn btn-primary' %>
</div>
