<h2>Carrito de Compras</h2>

<% if @cart_items.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Imagen</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td>
            <%= cl_image_tag(item.product.photos.first.key, height: 100, width: 100, crop: :fill, alt: item.product.name) if item.product.photos.attached? %>
          </td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.product.current_price) %></td>
          <td><%= number_to_currency(item.quantity * item.product.current_price) %></td>
          <td>
            <%= link_to "Eliminar",
                        cart_item_path(item),
                        method: :delete,
                        class: 'btn btn-danger',
                        remote: true,
                        data: { turbo_confirm: "¿Estás seguro?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">Total del Carrito:</th>

        <td><strong><%= number_to_currency(@cart.total_price) %></strong></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <%= link_to 'Realizar Pedido', new_order_path, class: 'btn btn-primary' %>
<% else %>
  <p>No hay productos en tu carrito.</p>
<% end %>
