<div class="container">
  <h2>Carrito de Compras</h2>

  <% if @cart.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Imagen</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart.each do |product_id, item_details| %>
          <% product = Product.find_by(id: product_id) %>
          <% if product %>
            <tr>
              <td><%= product.name %></td>
              <td>
                <% if product.photos.attached? %>
                  <%= cl_image_tag(product.photos.first.key, height: 100, width: 100, class: "rounded-3", crop: :fill, alt: product.name) %>
                <% end %>
              </td>
              <td><%= item_details["quantity"] %></td>
              <td><%= number_to_currency(product.on_sale? ? product.promotional_price : product.price) %></td>
              <td><%= number_to_currency(item_details["quantity"] * (product.on_sale? ? product.promotional_price : product.price)) %></td>
              <td>
                <%= link_to cart_item_path(product_id), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar este artículo del carrito?' }, class: 'btn text-danger' do %>
                  <i class="fa fa-trash fa-lg"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">Total del Carrito:</th>
          <td><strong><%= number_to_currency(@cart.sum do |product_id, item|
            product = Product.find_by(id: product_id)
            item["quantity"] * (product.on_sale? ? product.promotional_price : product.price)
          end) %></strong></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <%= link_to 'Realizar Pedido', new_order_path, class: 'btn btn-custom btn-primary' %>
  <% else %>
    <p>No hay productos en tu carrito.</p>
  <% end %>

  <%= link_to 'Volver al catálogo', products_path, class: 'btn btn-primary' %>
</div>
