<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      line-height: 1.6;
    }
    .container {
      width: 100%;
      max-width: 600px;
      margin: 20px auto;
      background-color: #ffffff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    .header {
      background-color: #ff7f00; /* Color corporativo */
      padding: 20px;
      text-align: center;
      color: #ffffff;
    }
    .header img {
      max-height: 60px;
      margin: 0 auto;
    }
    .header h1 {
      margin: 10px 0 0;
      font-size: 24px;
      font-weight: bold;
    }
    .content {
      padding: 20px;
    }
    .content h2 {
      color: #333333;
      font-size: 20px;
      margin-bottom: 10px;
      text-align: center;
    }
    .content p {
      color: #555555;
      font-size: 16px;
      margin: 8px 0;
    }
    .content .product-details {
      background-color: #f9f9f9;
      padding: 10px;
      border-radius: 5px;
      margin: 10px 0;
    }
    .footer {
      background-color: #f8f9fa;
      padding: 15px;
      text-align: center;
      font-size: 12px;
      color: #888888;
      border-top: 1px solid #dddddd;
    }
    .button {
      display: inline-block;
      background-color: #007bff;
      color: #ffffff;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      margin: 20px auto;
      font-size: 16px;
    }
    .button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <!-- Encabezado -->
    <div class="header">
      <div>
        <%= image_tag 'https://ppa.com.ar/web/image/website/3/logo/PPA%20Argentina?unique=a6ad006', alt: 'Logo PPA', id: 'navbar-logo' %>
        <%= image_tag 'https://static.wixstatic.com/media/ea58d7_92172e0f84cc4382b8e1d2c495cfcbe4~mv2.png/v1/crop/x_0,y_66,w_1500,h_377/fill/w_540,h_140,al_c,q_85,usm_2.00_1.00_0.00,enc_avif,quality_auto/ea58d7_92172e0f84cc4382b8e1d2c495cfcbe4~mv2.png', alt: 'Logo Sicher', id: 'navbar-logo' %>
      </div>
      <h1>Confirmación de tu Pedido</h1>
    </div>

    <!-- Contenido -->
    <div class="content">

      <p style="font-weight: bold; font-size: 18px; text-align: center;">
        Gracias por ponerte en contacto con nosotros, estamos felices de poder atenderte. <br>
        Un asesor se pondrá en contacto contigo a la brevedad posible a través del correo electrónico o número telefónico proporcionado.
      </p>
      <br>

      <h2>Detalles del Pedido</h2>
      <p><span>Nombre:</span> <%= @order.full_name %></p>
      <p><span>Correo Electrónico:</span> <%= @order.email %></p>
      <p><span>Teléfono:</span> <%= @order.phone %></p>
      <p><span>RUT:</span> <%= @order.rut %></p>

      <h3>Resumen de tu Compra:</h3>
      <% @order.order_items.each do |item| %>
        <div class="product-details">
          <p><strong>Producto:</strong> <%= item.product.name %></p>
          <p><strong>Cantidad:</strong> <%= item.quantity %></p>
          <p><strong>Precio Unitario:</strong> $ <%= number_with_delimiter(item.price.to_i, delimiter: '.') %>  Imp. Inc. </p>
          <p><strong>Subtotal:</strong> $ <%= number_with_delimiter((item.price * item.quantity).to_i, delimiter: '.') %>  Imp. Inc. </p>
        </div>
      <% end %>

      <h3>Total: $ <%= number_with_delimiter(@order.total.to_i, delimiter: '.') %>  Imp. Inc. </h3>
    </div>

    <!-- Pie de página -->
    <div class="footer">
      <p>Gracias por tu pedido. Si tienes alguna pregunta, no dudes en contactarnos.</p>
      <div class="card-text">
        <i class="fa-solid fa-phone-volume"></i>
        TEL: <strong class="fs-3">0800 8000</strong>
      </div>
      <p>Este correo fue generado automáticamente desde tu pedido en nuestro sitio web.</p>
    </div>
  </div>
</body>
</html>
