<div class="col">
  <div class="card productcard h-100 mb-0 rounded-5" style="background-color: #E1E4E3;">
    <% if product.photos.present? %>
      <div class="position-relative d-flex justify-content-center align-items-center">
        <%= link_to product_path(product) do %>
          <%= cl_image_tag(product.photos.first.key, class: "card-img-top p-3 rounded-50", crop: :thumb, alt: product.name) %>
        <% end %>
        <% if product.on_sale? %>
          <div class="position-absolute" style="bottom: 20%; left: 25px; z-index: 1; width: 50px; height: 50px;">
            <%= image_tag('fire3.png', class: 'img-fluid') %>
          </div>
        <% end %>
        <% if product.installation_included %>
          <div class="position-absolute bg-danger text-center text-white px-2 py-1 rounded-pill text-wrap" style="top: 12%; right: 9%; max-width: 80px; font-size: 0.75rem;">
            Instalación incluida
          </div>
        <% else %>
          <div class="position-absolute bg-primary text-center text-white px-2 py-1 rounded-pill text-wrap" style="top: 12%; right: 9%; max-width: 80px; font-size: 0.75rem;">
            Instalación no incluida
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="card-body d-flex flex-column text-center">

      <h4 class="card-title fw-bolder"><%= link_to product.name, product %></h4>

      <div class="mt-auto">
        <% if product.on_sale? %>
          <p class="text-decoration-line-through text-muted mb-0 text-secondary">
            Precio: $ <%= product.formatted_price %>
          </p>
          <p class="mt-0">
            <strong>Precio en oferta:</strong> $ <%= product.formatted_promotional_price %> Imp. Inc.
          </p>
        <% else %>
          <p class="highlighted-text">$ <%= product.formatted_price %> Imp. Inc.</p>
        <% end %>
      </div>

      <p class="my-0 text-secondary">Potencia: <%= product.power %></p>
      <p class="my-0 text-secondary">Controles incluidos: <%= product.controls_included %></p>
      <p class="my-0 text-secondary">Uso: <%= product.usage_type %></p>
      <p class="mt-0 mb-3 text-secondary">Garantía: <%= product.warranty %></p>

      <div class="d-flex justify-content-center mt-2">
        <%= button_to cart_items_path(product_id: product.id, quantity: 1), method: :post, class: "btn btn-custom btn-primary ms-3 rounded-5" do %>
          Agregar al Carrito
        <% end %>
      </div>
    </div>
  </div>
</div>
