<div class="container mt-5">

  <p>
    <%= link_to "Tienda", products_path %> /
    <%= link_to @product.category, products_path(category: @product.category) %> /
    <%= link_to @product.subcategory, products_path(category: @product.category, subcategory: @product.subcategory) %>
  </p>


  <div class="row">
    <div class="col-12 d-md-none text-center">
      <h1 class="product-name"><%= @product.name %></h1>
    </div>

    <div class="col-12 col-md-6">
      <% # Mostrar la imagen principal grande %>
      <div class="text-center">
        <% if @product.photos.present? %>
          <div class="main-image-container">
            <%= cl_image_tag(@product.photos.first.key, id: "main-image", height: 600, width: 800, crop: :fill, class: "img-fluid border") %>
          </div>
        <% end %>
      </div>

      <% # Mostrar miniaturas de las otras imágenes si hay más de una %>
      <% if @product.photos.length > 1 %>
        <div id="thumbnailCarousel" class="carousel slide mt-3" data-bs-ride="false">
          <div class="carousel-inner">
            <% @product.photos.each_slice(4).with_index do |photos_slice, index| %>
              <div class="carousel-item <%= 'active' if index == 0 %>">
                <div class="row">
                  <% photos_slice.each do |photo| %>
                    <div class="col-3">
                      <%= link_to(cl_image_tag(photo.key, height: 150, width: 200, crop: :fill, class: "img-thumbnail img-fluid"), "#", onclick: "document.getElementById('main-image').src=this.querySelector('img').src; return false;", class: "#{'border-primary' if photo == @product.photos.first}") %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <% if @product.photos.length > 4 %>
            <a class="carousel-control-prev custom-carousel-control" href="#thumbnailCarousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next custom-carousel-control" href="#thumbnailCarousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          <% end %>
        </div>
      <% end %>

      <%= link_to 'Volver a Productos', products_path, class: 'btn btn-secondary ms-3 mt-3' %>

    </div>



    <div class="col-12 col-md-5 ms-5">
      <h1 class="d-none d-md-block"><%= @product.name %></h1>
      <hr class="col-12 d-md-none">
      <% if @product.on_sale? %>
        <p class="text-decoration-line-through text-muted mb-0">Precio: <%= number_to_currency(@product.price) %></p>
        <p class="mt-0"><strong>Precio en oferta:</strong> <%= number_to_currency(@product.promotional_price) %></p>
      <% else %>
        <p><strong>Precio:</strong> <%= number_to_currency(@product.price) %></p>
      <% end %>
      <p><strong>Categoría:</strong> <%= @product.category %></p>
      <p><strong>Subcategoría:</strong> <%= @product.subcategory %></p>
      <p><strong>Detalles:</strong> <%= @product.details %></p>
      <p><strong>SKU:</strong> <%= @product.sku %></p>
      <p><strong>Indicación:</strong> <%= @product.indication %></p>



      <div class="mt-3 d-flex align-items-center">
        <div class="input-group quantity-selector" style="width: auto;">
          <button class="btn btn-outline-secondary" type="button" id="button-decrement">-</button>
          <input type="text" class="form-control text-center" id="quantity-input" value="1" min="1" max="<%= @product.stock %>" readonly style="width: 60px;">
          <button class="btn btn-outline-secondary" type="button" id="button-increment">+</button>
        </div>
              <%= button_to cart_items_path(product_id: @product.id, quantity: 1), method: :post, class: "btn btn-custom btn-primary ms-3" do %>
                <i class="fa-solid fa-cart-plus"></i> Agregar al Carrito
              <% end %>
      </div>
      
      <p><strong>Stock:</strong> <%= @product.stock %></p>

      <br>

      <hr class="my-6">

      <h5>Especificaciones:</h5>
        <table class="table table-bordered mt-3">
          <tbody>
            <tr>
              <th>Potencia</th>
              <td><%= @product.power || "N/A" %></td>
            </tr>
            <tr>
              <th>Controles incluidos</th>
              <td><%= @product.controls_included || "N/A" %></td>
            </tr>
            <tr>
              <th>Metros de cremallera</th>
              <td><%= @product.rack_meters || "N/A" %></td>
            </tr>
            <tr>
              <th>Tipo de uso</th>
              <td><%= @product.usage_type || "N/A" %></td>
            </tr>
            <tr>
              <th>Largo máximo de portón</th>
              <td><%= @product.gate_max_length ? "#{@product.gate_max_length} metros" : "N/A" %></td>
            </tr>
            <tr>
              <th>Garantía</th>
              <td><%= @product.warranty || "N/A" %></td>
            </tr>
          </tbody>
        </table>
        <p class="text-muted">
          * No cubre garantía por mala instalación
        </p>


      <hr class="my-6">

      <%= link_to "Editar", edit_product_path(@product), class: "btn btn-secondary", if: policy(@product).update? %>
      <%= link_to 'Eliminar', product_path(@product), data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' }, class: "btn btn-danger", if: policy(@product).destroy? %>
    </div>
  </div>

  <hr class="mt-5 mb-3">

  <h2 class="mt-5">Productos Relacionados</h2>

  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
    <% @related_products.each do |product| %>
      <div class="col">
        <div class="card productcard h-100">
          <% if product.photos.present? %>
            <%= link_to product_path(product) do %>
              <%= cl_image_tag(product.photos.first.key, class: "card-img-top p-3", height: 200, width: 180, crop: :fill, alt: product.name) %>
            <% end %>
          <% end %>
          <div class="card-body d-flex flex-column">
            <p class="card-text text-secondary"><%= product.category %></p>
            <h5 class="card-title"><%= link_to product.name, product %></h5>
            <div class="mt-auto">
              <div class="d-flex justify-content-between align-items-center">
                <% if product.on_sale? %>
                  <p class="card-text text-decoration-line-through text-muted">$<%= product.price %></p>
                  <p class="card-text">$<%= product.promotional_price %></p>
                <% else %>
                  <p class="card-text">$<%= product.price %></p>
                <% end %>
                <%= link_to '#' , class: "btn btn-custom btn-primary btn-sm ms-3" do %>
                  <i class="fas fa-plus"></i> Agregar
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
